.galleryWrap{
      width: 100%;
    grid-auto-rows: 221px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    margin-top: 1.4em;
}
.galleryBox{
      position: relative;
      width: 100%;
      background: #fff;
      overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
    height: 221px;
}
.galleryBox img {
      min-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
}
.SRLAutoplayButton,.SRLExpandButton{
      display: none !important;
}